<section id="contact">
  <div class="px-5">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>AÑADIR STOCK</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
          Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>
        <div class="mt-4">
          <form [formGroup]="stockForm" (ngSubmit)="addStock()">
            <div class="mb-3">
              <label for="idShelf" class="form-label">Id shelf</label>
              <input type="number" id="idShelf" formControlName="idShelf" class="form-control" placeholder="Id shelf">
              <span *ngIf="isValidField('idShelf')" class="form-text text-danger">
                {{ getFieldError('idShelf') }}
              </span>
            </div>

            <div class="mb-3">
              <label for="amount" class="form-label">Cantidad</label>
              <input type="text" id="amount" formControlName="amount" class="form-control" placeholder="Cantidad">
              <span *ngIf="isValidField('amount')" class="form-text text-danger">
                {{ getFieldError('amount') }}
              </span>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="stockForm.invalid">Añadir stock</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
