#notfound {
  position: relative;
  height: 100vh;
  background: url('/assets/images/404.jpg') no-repeat center center;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 252px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #e6dede;
  margin-top: 0;
  margin-bottom: 15px;
}

.home-link {
  font-family: 'Cabin', sans-serif;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #343a40;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.home-link:hover {
  background-color: #23272b;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}
