<section id="contact">
  <div class="px-5">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>ELIMINAR ARTÍCULO</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
          Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>
          <div class=" mt-4">
            <div class="mb-3">
              <label for="idArticulo" class="form-label">Id</label>
                <input
                    type="number"
                    id="idArticulo"
                    class="form-control"
                    placeholder="Id"
                    [(ngModel)]="idArticulo">
            </div>
            <div class="mb-3 btn-group">
              <button type="submit" class="btn btn-primary" (click)="verArticulosPorId()"> Mostrar articulo antes de eliminar</button>
              <button type="submit" class="btn btn-danger" (click)="eliminarArticulo()"> Eliminar articulo</button>
            </div>
          </div>

          <div class=" mt-4">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Maker</th>
                  <th>Weight</th>
                  <th>Height</th>
                  <th>Width</th>
                  <th>Price</th>
                  <!-- <th>Foto</th> -->
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                   <td class="align-middle">{{ articulo?.description }}</td>
                   <td class="align-middle">{{ articulo?.maker }}</td>
                   <td class="align-middle">{{ articulo?.weight }}</td>
                   <td class="align-middle">{{ articulo?.height }}</td>
                   <td class="align-middle">{{ articulo?.width }}</td>
                   <td class="align-middle">{{ articulo?.price | currency }}</td>
                  <!--  <td class="align-middle">
                    <img [src]="articulo.foto" alt="{{ articulo.description }}" class="img-thumbnail" width="100">
                  </td> -->
                   <td class="align-middle">{{ articulo?.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>




      </div>
    </div>
  </div>
</section>
