<section id="usuario">

  <div class="overlay">

    <div class="container px-5">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <h2 class="text-center mb-4">ELIMINAR USUARIO</h2>

          <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
            Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>

          <div class="article-box mt-4">

            <form [formGroup]="usuarioForm">

              <div class="mb-3">
                <label for="nickname" class="form-label">Id</label>
                <select id="nickname" class="form-select" formControlName="nickname" aria-label="Nickname">
                  <option value="">Selecciona un Nickname</option>
                  <option *ngFor="let usuario of usuariosLista" [value]="usuario.nickname">{{ usuario.nickname }}</option>
                </select>
                <span *ngIf="isValidFieldUsuarioForm('nickname')" class="form-text text-danger">
                  {{getFieldErrorUsuarioForm('nickname')}}
                </span>
              </div>

              <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-dark me-md-2" (click)="verUsuariosPorNickname()" [disabled]="usuarioForm.invalid">Mostrar Usuario Antes de Eliminar</button>
              </div>

            </form>

          </div>

          <div class="row mt-4 d-flex justify-content-center" *ngIf="mostrarTabla">

            <div class="card col-6 mb-5">

              <div class="card-body w-50">

                <h5 class="card-title">Id usuario: {{ usuario?.idUsuario }}</h5>

                <p class="card-text"><strong>Perfil:</strong> {{ usuario?.perfil }}</p>

                <p class="card-text"><strong>Password:</strong> {{ usuario?.password }}</p>

                <p class="card-text"><strong>Email:</strong> {{ usuario?.email }}</p>

                <p class="card-text"><strong>Nickname:</strong> {{ usuario?.nickname }}</p>

                <p class="card-text"><strong>Estado:</strong> {{ usuario?.estadoUsuario}}</p>

              </div>

            </div>

            <div class="mt-2 d-grid gap-2 d-md-flex justify-content-md-center">
              <button *ngIf="usuarioCargado" class="btn btn-dark" (click)="eliminarUsuario()">Eliminar Usuario</button>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
