<section id="usuario">

  <div class="overlay">

    <div class="container px-5">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <h2 class="text-center mb-4">MODIFICAR USUARIO</h2>

          <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
            Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>

            <div class="mt-4 article-form">

              <form [formGroup]="usuarioIdForm" (ngSubmit)="verUsuariosPorNickname()">

                <div class="mb-5">
                  <label for="nickname" class="form-label">Nickname</label>
                  <select id="nickname" class="form-select" formControlName="nickname" aria-label="Nickname">
                    <option value="">Selecciona un Nickname</option>
                    <option *ngFor="let usuario of usuariosLista" [value]="usuario.nickname">{{ usuario.nickname }}</option>
                  </select>
                  <span *ngIf="isValidFieldUsuarioIdForm('nickname')" class="form-text text-danger">
                    {{getFieldErrorUsuarioIdForm('nickname')}}
                  </span>
                </div>

                <button type="submit" class="btn btn-dark btn-block" [disabled]="usuarioIdForm.invalid"> Empezar a modificar</button>

              </form>

            </div>

            <div *ngIf="mostrarTabla" class="mt-4 article-form">

              <form [formGroup]="usuarioForm" (ngSubmit)="modificarUsuario()">

                <div class="mb-5">
                  <label for="perfil" class="form-label">Perfil</label>
                  <select class="form-select" formControlName="perfil" aria-label="Selecciona un perfil">
                    <option value="">Selecciona un perfil</option>
                    <option value="1">Administrador</option>
                    <option value="2">Gestor</option>
                    <option value="3">Operador</option>
                  </select>
                  <span *ngIf="isValidField('perfil')" class="form-text text-danger">
                    {{getFieldError('perfil')}}
                  </span>
                </div>

                <div class="mb-5">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="text"
                    id="password"
                    formControlName="password"
                    class="form-control"
                    placeholder="Password">
                  <span *ngIf="isValidField('password')" class="form-text text-danger">
                    {{getFieldError('password')}}
                  </span>
                </div>

                <div class="mb-5">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="text"
                    id="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Email">
                  <span *ngIf="isValidField('email')" class="form-text text-danger">
                    {{getFieldError('email')}}
                  </span>
                </div>

                <div class="mb-5">
                  <label for="estadoUsuario" class="form-label">Estado</label>
                  <input
                    type="text"
                    id="estadoUsuario"
                    formControlName="estadoUsuario"
                    class="form-control"
                    placeholder="Estado">
                  <span *ngIf="isValidField('estadoUsuario')" class="form-text text-danger">
                    {{getFieldError('estadoUsuario')}}
                  </span>
                </div>

                <div class="mb-5">
                  <label for="nickname" class="form-label">Nickname</label>
                  <input
                  type="text"
                  id="nickname"
                  formControlName="nickname"
                  class="form-control"
                  placeholder="Nickname">
                  <span *ngIf="isValidField('nickname')" class="form-text text-danger">
                    {{getFieldError('nickname')}}
                  </span>
                </div>

                <button type="submit" class="btn btn-dark btn-block" [disabled]="usuarioForm.invalid">Modificar Usuario</button>

              </form>

            </div>

        </div>

      </div>

    </div>

  </div>

</section>
