<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner-container">
    <div class="spinner"></div>
    <h2>Loading...</h2>
  </div>
</div>

<section id="pedidos">

  <div class="overlay">

    <div class="container-lg">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <h2 class="text-center mb-4">VER PEDIDOS</h2>

          <p class="lead text-center">
            Bienvenido a la sección de pedidos. Aquí puede visualizar todos los pedidos realizados hasta la fecha. Si desea ver más detalles sobre un pedido específico, haga clic en el botón correspondiente. Si tiene alguna duda, por favor, contáctenos.
          </p>

          <!--Botón ver pedidos-->
          <button class="btn btn-dark d-block mx-auto mb-3" *ngIf="!mostrarTabla" (click)="verPedidos()">Ver pedidos</button>

          <!--Botón ocultar-->
          <button class="btn btn-dark d-block mx-auto mb-3" *ngIf="mostrarTabla" (click)="ocultarTabla()">Ocultar</button>

          <!--Pedidos-->
          <div *ngIf="mostrarTabla" class="mt-4">

            <div class="row">

              <ng-container *ngFor="let pedido of paginatedPedidos">

                <div class="col-lg-4 col-md-6 mb-4" *ngIf="pedido">

                  <div class="card mb-3">

                    <div class="card-body">

                      <h5 class="card-title">Pedido: {{ pedido.idPedido }}</h5>

                      <p class="card-text"><strong>Usuario:</strong> {{ pedido.usuarioId }}</p>

                      <p class="card-text"><strong>Código postal:</strong> {{ pedido.codigoPostal }}</p>

                      <p class="card-text"><strong>Ciudad:</strong> {{ pedido.ciudad }}</p>

                      <p class="card-text"><strong>Teléfono:</strong> {{ pedido.telefono }}</p>

                      <p class="card-text"><strong>Contacto:</strong> {{ pedido.contacto }}</p>

                      <p class="card-text"><strong>Dirección:</strong> {{ pedido.direccion }}</p>

                      <p class="card-text"><strong>Provincia:</strong> {{ pedido.provincia }}</p>

                      <p class="card-text"><strong>Estado pedido:</strong> {{ pedido.estadoPedido }}</p>

                      <ul class="list-group">

                        <li class="list-group-item"><strong>Artículos</strong></li>
                        <li *ngFor="let producto of pedido.producto" class="list-group-item"> {{ producto.nombreArticulo }} - Cantidad: {{ producto.cantidad }} </li>

                      </ul>

                    </div>

                  </div>

                </div>

              </ng-container>

              <mat-paginator [pageSize]="pageSize" [length]="totalItems" (page)="onPageChange($event)"></mat-paginator>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>

