<section id="contact">
  <div class="px-5">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>ELIMINAR USUARIO</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
          Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti mayores soluta?</p>
        <div class="mt-4">
          <div class="mb-3">
            <label for="idArticulo" class="form-label">Id</label>
            <input type="number" id="idArticulo" class="form-control" placeholder="Id" [(ngModel)]="idUsuario">
          </div>
          <div class="mb-3 btn-group">
            <button type="button" class="btn btn-primary" (click)="verUsuariosPorId()">Mostrar usuario antes de eliminar</button>
            <button type="button" class="btn btn-danger" (click)="eliminarUsuario()">Eliminar usuario</button>
          </div>
        </div>
        <div class="mt-4" *ngIf="mostrarTabla">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id perfil</th>
                <th>Contraseña</th>
                <th>Email</th>
                <th>Nickname</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle">{{ usuario?.idProfile }}</td>
                <td class="align-middle">{{ usuario?.password }}</td>
                <td class="align-middle">{{ usuario?.email }}</td>
                <td class="align-middle">{{ usuario?.nickname }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
