<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
      <a class="navbar-brand" href="#">GAP Logística y Transporte</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" href="#">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Sobre nosotros</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artículos</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                    <li><a class="dropdown-item" href="#">Ver artículos</a></li>
                    <li><a class="dropdown-item" href="#">Crear artículos</a></li>
                    <li><a class="dropdown-item" href="#">Editar artículos</a></li>
                    <li><a class="dropdown-item" href="#">Eliminar artículos</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pedidos</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                    <li><a class="dropdown-item" href="#">Ver pedidos</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuarios</a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                  <li><a class="dropdown-item" href="#">Ver usuarios</a></li>
                  <li><a class="dropdown-item" href="#">Crear usuarios</a></li>
                  <li><a class="dropdown-item" href="#">Editar usuarios</a></li>
                  <li><a class="dropdown-item" href="#">Eliminar usuarios</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Stock</a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                  <li><a class="dropdown-item" href="#">Añadir stock</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- Header-->
<!-- <div class="video-container">
  <video autoplay muted loop id="bg-video">
    <source src="./home-page.mp4" type="video/mp4">
  </video>
  <div class="overlay"> -->
    <div class="px-5 bg-dark py-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">BIENVENIDO A GAP LOGÍSTICA Y TRANSPORTE</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Somos una compañía internacional de Ingeniería, Consultoría y Servicios Tecnológicos que llevamos más de 25 años aplicando nuestra metodología de trabajo en múltiples sectores.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#">Empieza ahora</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#">Saber más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- </div>
</div> -->
<section>
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                  <div class="card-body p-4">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">Artículos</div>
                      <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3">Lorem ipsum</h5></a>
                      <p class="card-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aperiam id est quam sint eaque veritatis adipisci dicta sed debitis officiis culpa, sunt cupiditate quasi dolores dolore accusamus, vitae tempore?</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                  <div class="card-body p-4">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">Pedidos</div>
                      <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3">Lorem ipsum</h5></a>
                      <p class="card-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aperiam id est quam sint eaque veritatis adipisci dicta sed debitis officiis culpa, sunt cupiditate quasi dolores dolore accusamus, vitae tempore?</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                  <div class="card-body p-4">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">Usuarios</div>
                      <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3">Lorem ipsum</h5></a>
                      <p class="card-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aperiam id est quam sint eaque veritatis adipisci dicta sed debitis officiis culpa, sunt cupiditate quasi dolores dolore accusamus, vitae tempore?</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Stock</div>
                    <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3">Lorem ipsum</h5></a>
                    <p class="card-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aperiam id est quam sint eaque veritatis adipisci dicta sed debitis officiis culpa, sunt cupiditate quasi dolores dolore accusamus, vitae tempore?</p>
                </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                    <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3">Lorem ipsum</h5></a>
                    <p class="card-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aperiam id est quam sint eaque veritatis adipisci dicta sed debitis officiis culpa, sunt cupiditate quasi dolores dolore accusamus, vitae tempore?</p>
                </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                    <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3">Lorem ipsum</h5></a>
                    <p class="card-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aperiam id est quam sint eaque veritatis adipisci dicta sed debitis officiis culpa, sunt cupiditate quasi dolores dolore accusamus, vitae tempore?</p>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>
<footer class="bg-dark py-4 mt-auto">
  <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
          <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; GAP Logística y Transporte 2024</div></div>
          <div class="col-auto">
              <a class="link-light small" href="#!">Aviso legal</a>
              <span class="text-white mx-1">&middot;</span>
              <a class="link-light small" href="#!">Política de privacidad</a>
              <span class="text-white mx-1">&middot;</span>
              <a class="link-light small" href="#!">Política de cookies</a>
              <span class="text-white mx-1">&middot;</span>
              <a class="link-light small" href="#!">Contacto</a>
          </div>
      </div>
  </div>
</footer>


