<section id="pedidos">

  <div class="overlay flex justify-content-center align-content-center">

    <div class="container px-5">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <h2 class="text-center mb-4">CREAR PEDIDO</h2>

          <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
            Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>

          <form [formGroup]="pedidoForm" (ngSubmit)="crearPedido()" class="mt-4 article-form">

            <div class="mb-3">
              <label for="usuarioId" class="form-label">Id usuario</label>
              <input type="number" id="usuarioId" formControlName="usuarioId" class="form-control" placeholder="Id usuario">
              <span class="form-text text-danger" *ngIf="isValidField('usuarioId')">
                {{ getFieldError('usuarioId') }}
              </span>
            </div>

            <div class="mb-3">
              <label for="codigoPostal" class="form-label">Código postal</label>
              <input type="text" id="codigoPostal" formControlName="codigoPostal" class="form-control" placeholder="Código postal">
              <span *ngIf="isValidField('codigoPostal')" class="form-text text-danger">
                {{getFieldError('codigoPostal')}}
              </span>
            </div>

            <div class="mb-3">
              <label for="ciudad" class="form-label">Ciudad</label>
              <input type="text" id="ciudad" formControlName="ciudad" class="form-control" placeholder="Ciudad">
              <span *ngIf="isValidField('ciudad')" class="form-text text-danger">
                {{getFieldError('ciudad')}}
              </span>
            </div>

            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input type="text" id="telefono" formControlName="telefono" class="form-control" placeholder="Teléfono">
              <span *ngIf="isValidField('telefono')" class="form-text text-danger">
                {{getFieldError('telefono')}}
              </span>
            </div>

            <div class="mb-3">
              <label for="contacto" class="form-label">Contacto</label>
              <input type="text" id="contacto" formControlName="contacto" class="form-control" placeholder="Contacto personal">
              <span *ngIf="isValidField('contacto')" class="form-text text-danger">
                {{getFieldError('contacto')}}
              </span>
            </div>

            <div class="mb-3">
              <label for="direccion" class="form-label">Dirección</label>
              <input type="text" id="direccion" formControlName="direccion" class="form-control" placeholder="Dirección">
              <span *ngIf="isValidField('direccion')" class="form-text text-danger">
                {{getFieldError('direccion')}}
              </span>
            </div>

            <div class="mb-3">
              <label for="provincia" class="form-label">Provincia</label>
              <input type="text" id="provincia" formControlName="provincia" class="form-control" placeholder="Provincia">
              <span *ngIf="isValidField('provincia')" class="form-text text-danger">
                {{getFieldError('provincia')}}
              </span>
            </div>

            <div class="mb-3">
              <label class="form-label">Agregar artículo</label>
              <form class="input-group mb-3" [formGroup]="newArticuloForm">
                <input type="number" class="form-control me-2" formControlName="articuloId" placeholder="Id artículo">
                <span *ngIf="isValidField('articuloId')" class="form-text text-danger">
                  {{getFieldError('articuloId')}}
                </span>
                <input type="number" class="form-control me-2" formControlName="cantidad" placeholder="Cantidad">
                <span *ngIf="isValidField('cantidad')" class="form-text text-danger">
                  {{getFieldError('cantidad')}}
                </span>
              </form>
              <button class="btn btn-dark" type="button" (click)="onAddToArticulos()" [disabled]="newArticuloForm.invalid">Agregar artículo</button>



            </div>

            <div class="mb-3">

              <label class="form-label">Artículos</label>

              <div formArrayName="articulos">

                <div class="input-group mb-3" *ngFor="let articulo of currentArticulos.controls; let i = index" [formGroupName]="i">

                  <input type="number" formControlName="articuloId" class="form-control me-2" placeholder="Id artículo" readonly>
                  <input type="number" formControlName="cantidad" class="form-control me-2" placeholder="Cantidad" readonly>
                  <button (click)="onDeleteArticulo(i)" class="btn btn-danger" type="button">Eliminar</button>
                  <span class="form-text text-danger" *ngIf="isValidFieldInArray(currentArticulos, i)">Este campo es requerido</span>

                </div>

              </div>

            </div>

            <button type="submit" class="btn btn-dark w-100" [disabled]="pedidoForm.invalid">Crear Pedido</button>

          </form>

        </div>

      </div>

    </div>

  </div>

</section>
