<section id="contact">
  <div class="px-5">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>CREAR PEDIDO</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
          Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>
          <div class=" mt-4">
            <form [formGroup]="pedidoForm" (ngSubmit)="crearPedido()" autocomplete="off">
              <div class="mb-3">
                <label for="idUser" class="form-label">Id usuario</label>
                <input
                  type="text"
                  id="idUser"
                  formControlName="idUser"
                  class="form-control">
                <span *ngIf="isValidField('idUser')" class="form-text text-danger">
                  {{getFieldError('description')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="postalCode" class="form-label">Codigo postal</label>
                <input
                  type="text"
                  id="postalCode"
                  formControlName="postalCode"
                  class="form-control">
                <span *ngIf="isValidField('postalCode')" class="form-text text-danger">
                  {{getFieldError('postalCode')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="town" class="form-label">Town</label>
                <input
                  type="string"
                  id="town"
                  formControlName="town"
                  class="form-control">
                <span *ngIf="isValidField('town')" class="form-text text-danger">
                  {{getFieldError('town')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="phoneNumber" class="form-label">Telefono</label>
                <input
                type="number"
                id="phoneNumber"
                formControlName="phoneNumber"
                class="form-control">
                <span *ngIf="isValidField('phoneNumber')" class="form-text text-danger">
                  {{getFieldError('phoneNumber')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="personalContact" class="form-label">Contacto personal</label>
                <input
                type="number"
                id="personalContact"
                formControlName="personalContact"
                class="form-control">
                <span *ngIf="isValidField('personalContact')" class="form-text text-danger">
                  {{getFieldError('personalContact')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input
                type="number"
                id="price"
                formControlName="price"
                class="form-control">
                <span *ngIf="isValidField('price')" class="form-text text-danger">
                  {{getFieldError('price')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="foto" class="form-label">Foto</label>
                <input
                type="file"
                id="foto"
                (change)="onFileChange($event)"
                class="form-control">
                <span *ngIf="isValidField('foto')" class="form-text text-danger">
                  {{getFieldError('foto')}}
                </span>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="articleForm.invalid">Crear Artículo</button>
            </form>
          </div>





      </div>
    </div>
  </div>
</section>
