<section id="contact">
  <div class="px-5">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>CREAR PEDIDO</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
          Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti mayores soluta?</p>
          <div class="mt-4">
            <form [formGroup]="pedidoForm" (ngSubmit)="crearPedido()" autocomplete="off">
              <div class="mb-3">
                <label for="idUser" class="form-label">Id usuario</label>
                <input
                  type="number"
                  id="idUser"
                  formControlName="idUser"
                  placeholder="Id usuario"
                  class="form-control">
                <span *ngIf="isValidField('idUser')" class="form-text text-danger">
                  {{ getFieldError('idUser') }}
                </span>
              </div>

              <div class="mb-3">
                <label for="postalCode" class="form-label">Codigo postal</label>
                <input
                  type="text"
                  id="postalCode"
                  formControlName="postalCode"
                  placeholder="Codigo postal"
                  class="form-control">
                <span *ngIf="pedidoForm.get('postalCode')?.invalid && pedidoForm.get('postalCode')?.touched" class="form-text text-danger">
                  Código postal inválido
                </span>
              </div>

              <div class="mb-3">
                <label for="town" class="form-label">Ciudad</label>
                <input
                  type="text"
                  id="town"
                  formControlName="town"
                  placeholder="Ciudad"
                  class="form-control">
                <span *ngIf="isValidField('town')" class="form-text text-danger">
                  {{ getFieldError('town') }}
                </span>
              </div>

              <div class="mb-3">
                <label for="phoneNumber" class="form-label">Telefono</label>
                <input
                  type="text"
                  id="phoneNumber"
                  formControlName="phoneNumber"
                  placeholder="Telefono"
                  class="form-control">
                <span *ngIf="pedidoForm.get('phoneNumber')?.invalid && pedidoForm.get('phoneNumber')?.touched" class="form-text text-danger">
                  Número de teléfono inválido
                </span>
              </div>

              <div class="mb-3">
                <label for="personalContact" class="form-label">Contacto personal</label>
                <input
                  type="text"
                  id="personalContact"
                  formControlName="personalContact"
                  placeholder="Contacto personal"
                  class="form-control">
                <span *ngIf="isValidField('personalContact')" class="form-text text-danger">
                  {{ getFieldError('personalContact') }}
                </span>
              </div>

              <div class="mb-3">
                <label for="address" class="form-label">Direccion</label>
                <input
                  type="text"
                  id="address"
                  formControlName="address"
                  placeholder="Direccion"
                  class="form-control">
                <span *ngIf="isValidField('address')" class="form-text text-danger">
                  {{ getFieldError('address') }}
                </span>
              </div>

              <div class="mb-3">
                <label for="province" class="form-label">Provincia</label>
                <input
                  type="text"
                  id="province"
                  formControlName="province"
                  placeholder="Provincia"
                  class="form-control">
                <span *ngIf="isValidField('province')" class="form-text text-danger">
                  {{ getFieldError('province') }}
                </span>
              </div>

              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Agregar articulo</label>
                <div class="col-sm-9">
                  <div [formGroup]="newArticulo" class="input-group">
                    <input type="number" class="form-control" formControlName="idArticle" placeholder="ID del artículo">
                    <input type="number" class="form-control" formControlName="quantity" placeholder="Cantidad">
                    <button class="btn btn-outline-primary" type="button" (click)="odAddToArticulos()">Agregar artículo</button>
                  </div>
                  <span *ngIf="isValidField('idArticle')" class="form-text text-danger">
                    {{ getArticleFieldError('idArticle') }}
                  </span>
                  <span *ngIf="isValidField('quantity')" class="form-text text-danger">
                    {{ getArticleFieldError('quantity') }}
                  </span>
                </div>
              </div>

              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Artículos</label>
                <div class="col-sm-9" formArrayName="articles">
                  <div class="mb-1" *ngFor="let articulo of articles.controls; let i = index" [formGroupName]="i">
                    <div class="input-group">
                      <input type="number" formControlName="idArticle" class="form-control" placeholder="ID del artículo">
                      <input type="number" formControlName="quantity" class="form-control" placeholder="Cantidad">
                      <button (click)="onDeleteArticulo(i)" class="btn btn-outline-danger" type="button">Eliminar</button>
                    </div>
                    <span *ngIf="isValidFieldInArray(articles, i)" class="form-text text-danger">Este campo es requerido</span>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="pedidoForm.invalid">Crear Pedido</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</section>
