<section id="articulos">

  <div class="overlay flex justify-content-center align-content-center">

    <div class="container px-5">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <h2 class="text-center mb-4">CREAR ARTÍCULO</h2>

          <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
            Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>

          <!--Formulario de crear artículo-->
          <form [formGroup]="articuloPostForm" (ngSubmit)="crearArticulo()" class="mt-4 article-form">

            <!--Descripción-->
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción</label>
              <input type="text" id="descripcion" formControlName="descripcion" class="form-control" placeholder="Descripción">
              <span *ngIf="isValidField('descripcion')" class="form-text text-danger">
                {{getFieldError('descripcion')}}
              </span>
            </div>

            <!--Fabricante-->
            <div class="mb-3">
              <label for="fabricante" class="form-label">Fabricante</label>
              <input type="text" id="fabricante" formControlName="fabricante" class="form-control" placeholder="Fabricante">
              <span *ngIf="isValidField('fabricante')" class="form-text text-danger">
                {{getFieldError('fabricante')}}
              </span>
            </div>

            <div class="row">

              <!--Peso-->
              <div class="col-md-6 mb-3">
                <label for="peso" class="form-label">Peso</label>
                <input type="number" id="peso" formControlName="peso" class="form-control" placeholder="Peso">
                <div *ngIf="isValidField('peso')" class="form-text text-danger">
                  {{getFieldError('peso')}}
                </div>
              </div>

              <!--Altura-->
              <div class="col-md-6 mb-3">
                <label for="altura" class="form-label">Altura</label>
                <input type="number" id="altura" formControlName="altura" class="form-control" placeholder="Altura">
                <div *ngIf="isValidField('altura')" class="form-text text-danger">
                  {{getFieldError('altura')}}
                </div>
              </div>

            </div>

            <div class="row">

              <!--Ancho-->
              <div class="col-md-6 mb-3">
                <label for="ancho" class="form-label">Ancho</label>
                <input type="number" id="ancho" formControlName="ancho" class="form-control" placeholder="Ancho">
                <div *ngIf="isValidField('ancho')" class="form-text text-danger">
                  {{getFieldError('ancho')}}
                </div>
              </div>

              <!--Precio-->
              <div class="col-md-6 mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" id="precio" formControlName="precio" class="form-control" placeholder="Precio">
                <div *ngIf="isValidField('precio')" class="form-text text-danger">
                  {{getFieldError('precio')}}
                </div>
              </div>

            </div>

            <!--Foto-->
            <div class="mb-3">
              <label for="foto" class="form-label">Foto</label>
              <input type="file" id="foto" (change)="onFileChange($event)" class="form-control">
              <div *ngIf="isValidField('foto')" class="form-text text-danger">
                {{getFieldError('foto')}}
              </div>
            </div>

            <button type="submit" class="btn btn-dark w-100" [disabled]="articuloPostForm.invalid">Crear Artículo</button>

          </form>

        </div>

      </div>

    </div>

  </div>

</section>

