<section id="contact">
  <div class="px-5">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>MODIFICAR ARTÍCULO</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
          Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>
          <div class=" mt-4">
            <div class="mb-3">
              <label for="idArticulo" class="form-label">Id</label>
                <input
                    type="number"
                    id="idArticulo"
                    class="form-control"
                    placeholder="Id"
                    [(ngModel)]="idArticulo">
            </div>
              <button type="submit" class="btn btn-primary" (click)="verArticulosPorId()"> Empezar a modificar</button>
          </div>
          <div class=" mt-4">
            <form [formGroup]="articleForm" (ngSubmit)="modificarArticulo()">
              <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <input
                  type="text"
                  id="description"
                  formControlName="description"
                  class="form-control"
                  placeholder="Descripción">
                <span *ngIf="isValidField('description')" class="form-text text-danger">
                  {{getFieldError('description')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="maker" class="form-label">Fabricante</label>
                <input
                  type="text"
                  id="maker"
                  formControlName="maker"
                  class="form-control"
                  placeholder="Fabricante">
                <span *ngIf="isValidField('maker')" class="form-text text-danger">
                  {{getFieldError('maker')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="weight" class="form-label">Peso</label>
                <input
                  type="number"
                  id="weight"
                  formControlName="weight"
                  class="form-control">
                <span *ngIf="isValidField('weight')" class="form-text text-danger">
                  {{getFieldError('weight')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="height" class="form-label">Altura</label>
                <input
                type="number"
                id="height"
                formControlName="height"
                class="form-control">
                <span *ngIf="isValidField('height')" class="form-text text-danger">
                  {{getFieldError('height')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="width" class="form-label">Ancho</label>
                <input
                type="number"
                id="width"
                formControlName="width"
                class="form-control">
                <span *ngIf="isValidField('width')" class="form-text text-danger">
                  {{getFieldError('width')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input
                type="number"
                id="price"
                formControlName="price"
                class="form-control">
                <span *ngIf="isValidField('price')" class="form-text text-danger">
                  {{getFieldError('price')}}
                </span>
              </div>

              <!-- <div class="mb-3">
                <label for="foto" class="form-label">Foto</label>
                <input
                type="file"
                id="foto"
                (change)="onFileChange($event)"
                class="form-control">
                <span *ngIf="isValidField('foto')" class="form-text text-danger">
                  {{getFieldError('foto')}}
                </span>
              </div> -->

              <div class="mb-3">
                <label for="price" class="form-label">Estado</label>
                <input
                type="string"
                id="status"
                formControlName="status"
                class="form-control"
                placeholder="Estado">
                <span *ngIf="isValidField('status')" class="form-text text-danger">
                  {{getFieldError('status')}}
                </span>
              </div>

              <div class="mb-3">
                <label for="foto" class="form-label">Foto</label>
                <input
                type="file"
                id="foto"
                (change)="onFileChange($event)"
                class="form-control">
                <span *ngIf="isValidField('foto')" class="form-text text-danger">
                  {{getFieldError('foto')}}
                </span>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="articleForm.invalid">Modficar Artículo</button>
            </form>
          </div>





      </div>
    </div>
  </div>
</section>
