<section id="contact">
  <div class="px-5">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>VER USUARIOS</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
          Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti mayores soluta?</p>
        <button class="btn btn-dark" *ngIf="!mostrarTabla" (click)="verUsuarios()">Ver artículos</button>
        <button class="btn btn-dark" *ngIf="mostrarTabla" (click)="ocultarTabla()">Ocultar</button>
        <div class="mt-4" *ngIf="mostrarTabla">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id usuario</th>
                <th>Id perfil</th>
                <th>Password</th>
                <th>Email</th>
                <th>Nickname</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td class="align-middle">{{ usuario.idUser }}</td>
                <td class="align-middle">{{ usuario.idProfile }}</td>
                <td class="align-middle">{{ usuario.password }}</td>
                <td class="align-middle">{{ usuario.email }}</td>
                <td class="align-middle">{{ usuario.nickname }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
