<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner-container">
    <div class="spinner"></div>
    <h2>Loading...</h2>
  </div>
</div>

<section id="almacen">

  <div class="overlay">

    <div class="container px-5">

      <div class="row justify-content-center">

        <div id="div" class="col-lg-8">

          <h2 class="text-center">AÑADIR A ALMACÉN</h2>

          <p class="lead text-center">
            Bienvenido a nuestra sección de gestión de inventario. Aquí
            puedes añadir artículos a nuestro almacén de manera rápida y sencilla.
            Mantén tus registros actualizados y asegúrate de que siempre haya suficiente
            stock para satisfacer la demanda. Nuestro sistema está diseñado para ofrecerte una
             experiencia fluida y eficiente, facilitando el seguimiento y la administración de tus
             productos. ¡Gestiona tu almacén con facilidad y precisión!
          </p>

          <div class="mt-3">

            <form [formGroup]="almacenForm" (ngSubmit)="addAlmacen()">

              <div class="mb-5">
                <label for="nombre" class="form-label">Artículo</label>
                <select id="nombre" class="form-select" formControlName="nombre" aria-placeholder="Selecciona un artículo">
                  <option value="">Selecciona un artículo</option>
                  <option *ngFor="let articulo of articulosLista" [value]="articulo.nombre">{{ articulo.nombre }}</option>
                </select>
                <span *ngIf="isValidField('nombre')" class="form-text text-danger">
                  {{ getFieldError('nombre') }}
                </span>
              </div>

              <div class="mb-5">
                <label for="cantidad" class="form-label">Cantidad</label>
                <input
                type="text"
                id="cantidad"
                formControlName="cantidad"
                class="form-control"
                placeholder="Cantidad">
                <span *ngIf="isValidField('cantidad')" class="form-text text-danger">
                  {{ getFieldError('cantidad') }}
                </span>
              </div>

              <button type="submit" class="btn btn-dark w-100" [disabled]="almacenForm.invalid">Añadir a almacen</button>

            </form>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
