<section id="almacen">

  <div class="overlay">

    <div class="container px-5">

      <div class="row justify-content-center">

        <div id="div" class="col-lg-8">

          <h2 class="text-center">AÑADIR A ALMACÉN</h2>

          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
            Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>

          <div class="mt-4">

            <form [formGroup]="almacenForm" (ngSubmit)="addAlmacen()">

              <div class="mb-3">
                <label for="idEstanteria" class="form-label">Nombre artículo</label>
                <input
                type="number"
                id="idEstanteria"
                formControlName="idEstanteria"
                class="form-control"
                placeholder="Id estanteria">
                <span *ngIf="isValidField('idEstanteria')" class="form-text text-danger">
                  {{ getFieldError('idEstanteria') }}
                </span>
              </div>

              <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad</label>
                <input
                type="text"
                id="cantidad"
                formControlName="cantidad"
                class="form-control"
                placeholder="Cantidad">
                <span *ngIf="isValidField('cantidad')" class="form-text text-danger">
                  {{ getFieldError('cantidad') }}
                </span>
              </div>

              <button type="submit" class="btn btn-dark w-100" [disabled]="almacenForm.invalid">Añadir a almacen</button>

            </form>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
