<section id="login">
  <div class="overlay">
    <div class="container px-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-8 mb-3 text-center" style="z-index: 10">
          <h1 class="text-white">INICIAR SESIÓN</h1>
        </div>
        <div class="col-lg-8 mb-0 position-relative">
          <div class="card bg-glass">
            <div class="card-body px-4 py-4">
              <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-outline mb-5 text-start">
                  <label class="form-label fw-bold">Email</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="Email"/>
                  <span *ngIf="isValidField('email')" class="form-text text-danger position-absolute">
                    {{getFieldError('email')}}
                  </span>
                </div>
                <div class="form-outline mb-5 text-start">
                  <label class="form-label fw-bold">Password</label>
                  <input type="password" class="form-control" formControlName="password" placeholder="Password">
                  <span *ngIf="isValidField('password')" class="form-text text-danger position-absolute">
                    {{getFieldError('password')}}
                  </span>
                </div>
                <button id="button" type="submit" class="btn btn-dark mb-0" [disabled]="loginForm.invalid">
                  Iniciar sesión
                </button>
              </form>

              <div *ngIf="isLoading" class="spinner-container">
                <div class="spinner"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
