.background-radial-gradient {
  background-color: hsl(22, 69%, 41%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(22, 69%, 61%) 15%,
      hsl(22, 69%, 56%) 35%,
      hsl(22, 69%, 46%) 75%,
      hsl(22, 69%, 45%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(22, 69%, 74%) 15%,
      hsl(22, 69%, 61%) 35%,
      hsl(22, 69%, 46%) 75%,
      hsl(22, 69%, 45%) 80%,
      transparent 100%);
  min-height: 100vh;
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#6b0000, #f80000);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#6b0000, #f80000);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.form-control {
  transition: box-shadow 0.3s ease;
}

.form-control:focus {
  box-shadow: 0 0 5px #f80000;
  border-color: #f80000;
  outline: none;
}

#iniciar, #registrar{
  background-color: #f80000;
  color: white;
}

#iniciar:hover, #registrar:hover{
  background-color: #6b0000;
}

i{
  color: #f80000;
}

i:hover{
  color: #6b0000;
}


