<header-component/>

<section id="usuario">

  <div class="overlay flex justify-content-center align-content-center">

    <div class="container px-5">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <h2 class="text-center mb-4">CREAR USUARIO</h2>

          <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
            Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>

          <form [formGroup]="usuarioForm" (ngSubmit)="crearUsuario()" class="mt-4 article-form">

            <div class="mb-3">
              <label for="perfil" class="form-label">Id perfil</label>
              <input type="number" id="perfil" formControlName="perfil" class="form-control" placeholder="Id perfil">
              <div *ngIf="isValidField('perfil')" class="invalid-feedback">
                {{ getFieldError('perfil') }}
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="text" id="password" formControlName="password" class="form-control" placeholder="Password">
              <div *ngIf="isValidField('password')" class="invalid-feedback">
                {{ getFieldError('password') }}
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email">
              <div *ngIf="isValidField('email')" class="invalid-feedback">
                {{ getFieldError('email') }}
              </div>
            </div>

            <div class="mb-3">
              <label for="nickname" class="form-label">Nickname</label>
              <input type="text" id="nickname" formControlName="nickname" class="form-control" placeholder="Nickname">
              <div *ngIf="isValidField('nickname')" class="invalid-feedback">
                {{ getFieldError('nickname') }}
              </div>
            </div>

            <button type="submit" class="btn btn-dark w-100" [disabled]="usuarioForm.invalid">Crear Usuario</button>

          </form>

        </div>

      </div>

    </div>

  </div>

</section>

<footer-component/>
