<section id="usuario">

  <div class="overlay">

    <div class="container px-5">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <h2 class="text-center mb-4">CREAR USUARIO</h2>

          <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio soluta, aliquam sed quae ab molestias, illo ipsum accusamus eligendi placeat quos molestiae possimus cum! Repellat natus ullam placeat sunt!
            Cum facere illo eius hic dolorem dignissimos reprehenderit natus commodi, molestiae corporis saepe ipsam voluptatem sit itaque qui ut dicta, laborum esse aspernatur velit doloribus voluptas. Nam corrupti maiores soluta?</p>

          <form [formGroup]="usuarioForm" (ngSubmit)="crearUsuario()" class="mt-4 article-form">

            <div class="mb-5">
              <label for="perfil" class="form-label">Id perfil</label>
              <select class="form-select" formControlName="perfil" aria-label="Selecciona un perfil" aria-placeholder="Selecciona un perfil">
                <option value="">Selecciona un perfil</option>
                <option value="1">Administrador</option>
                <option value="2">Gestor</option>
                <option value="3">Operador</option>
              </select>
              <span *ngIf="isValidField('perfil')" class="form-text text-danger">
                {{ getFieldError('perfil') }}
              </span>
            </div>

            <div class="mb-5">
              <label for="password" class="form-label">Password</label>
              <input type="text" id="password" formControlName="password" class="form-control" placeholder="Password">
              <span *ngIf="isValidField('password')" class="form-text text-danger">
                {{ getFieldError('password') }}
              </span>
            </div>

            <div class="mb-5">
              <label for="email" class="form-label">Email</label>
              <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email">
              <span *ngIf="isValidField('email')" class="form-text text-danger">
                {{ getFieldError('email') }}
              </span>
            </div>

            <div class="mb-5">
              <label for="nickname" class="form-label">Nickname</label>
              <input type="text" id="nickname" formControlName="nickname" class="form-control" placeholder="Nickname">
              <span *ngIf="isValidField('nickname')" class="form-text text-danger">
                {{ getFieldError('nickname') }}
              </span>
            </div>

            <button type="submit" class="btn btn-dark w-100 " [disabled]="usuarioForm.invalid">Crear Usuario</button>

          </form>

        </div>

      </div>

    </div>

  </div>

</section>
