<footer class="bg-dark py-4 mt-auto">
  <div class="container px-md-5">
      <div class="row align-items-center justify-content-between flex-column flex-md-row">
          <div class="col-auto text-center text-md-start mb-3 mb-md-0">
              <div class="small m-0 text-white">Copyright &copy; GAP Logística y Transporte 2024</div>
          </div>
          <div class="col-auto text-center text-md-end">
              <a class="link-light small me-3" href="#!">Aviso legal</a>
              <a class="link-light small me-3" href="#!">Política de privacidad</a>
              <a class="link-light small me-3" href="#!">Política de cookies</a>
              <a class="link-light small" href="#!">Contacto</a>
          </div>
      </div>
  </div>
</footer>
