.titulo {
  height: 70vh;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
}

.container {
  max-width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.titulo video {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.titulo h1, .titulo p {
  animation: fadeIn 2s ease-in-out;
}

.secciones {
  animation: fadeIn 1s ease-in-out;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.btn-group .btn {
  margin-right: 0.5rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
