.titulo {
  height: 70vh;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
  z-index: 1;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.loading-overlay.loaded {
  opacity: 0;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner-container h2{
  color: white;
  font-size: 1.5em;
}

.spinner {
  border: 4px solid rgba(240, 240, 240, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
  max-width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo video {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

h1, p {
  animation: fadeIn 2s ease-in-out;
}

.secciones {
  animation: fadeIn 1s ease-in-out;
  z-index: 1;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.btn-group .btn {
  margin-right: 0.5rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {

  .titulo video {
    transform: translate(-50%, -80%);
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .titulo {
    height: 60vh;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .titulo h1 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }

  .titulo p {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .titulo video {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-30%, -20%);
    height: 70%;
    z-index: -1;
  }
}

@media screen and (max-width: 576px) {
  .titulo {
    height: 50vh;
  }

  .titulo h1 {
    font-size: 1.5em;
  }

  .titulo p {
    font-size: 0.9em;
  }

  .btn-group .btn {
    margin-bottom: 0.5rem;
  }

  .btn-group {
    align-items: center;
    flex-wrap: wrap;
  }



}
